.dice-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dice-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    height: 60vh;
    border-radius: 20px;
}