* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  background: rgb(20,26,29);
  background: linear-gradient(225deg, rgba(20,26,29,1) 0%, rgba(39,59,60,1) 35%, rgba(58,84,84,1) 100%);
  background: rgb(20,26,29);
  background: linear-gradient(225deg, rgba(20,26,29,1) 0%, rgba(21,33,35,1) 35%, rgba(58,84,84,1) 100%);
}

button {
  padding: 20px 45px;
  background: linear-gradient(145deg, #ff6f61, #d946ef);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: rgba(255, 255, 255, 0.15);
  transform: translate(-50%, -50%) rotate(45deg);
  transition: all 0.3s ease;
  z-index: -1;
}

button:hover::before {
  width: 0;
  height: 0;
}

.screen {
  background-image: url('../assets/img/game-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.standard-box-shadow {
  box-shadow: 2px 5px 2px rgba(0, 0, 0, 0.3);
}